@model DeliveryServiceManagementSystem.Models.Driver

@{
    ViewBag.Title = "addDriver";
}

<h2>addDriver</h2>
<div>
    <div class=" col-7">
        @using (Html.BeginForm("addDrivers", "Home"))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Driver</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.surname, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.surname, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.surname, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.scheduled, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.scheduled)
                            @Html.ValidationMessageFor(model => model.scheduled, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-5" style="background-image:url(../../images/backl.png);background-size:contain;">

    </div>
</div>


<div>
    @Html.ActionLink("Back to List", "Login")
    <br /><br /><span style="color:gainsboro;font-size:24px">@ViewBag.Message</span><br /><br /><br /><br />
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
