
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ExpressDelivery</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Smelter a Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

    @*<script>
            addEventListener("load", function () {
                setTimeout(hideURLbar, 0);
            }, false);

            function hideURLbar() {
                window.scrollTo(0, 1);
            }

        </script>*@
    <link href="//fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:100,300,400,500,700,800" rel="stylesheet">
    <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/css/flexslider.css" rel="stylesheet" type="text/css" media="screen" property="" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/css/simpleLightbox.css" rel="stylesheet" type="text/css" />
    <link href="~/css/fontawesome-all.css" rel="stylesheet" />


</head>

<body>
    <div class="row">
        <div class="col-12">
            <header>
                <div class="header_top" id="home">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <div class="logo text-left">
                            <h1>
                                <a class="navbar-brand" href="index.html">
                                    <i class="fas fa-podcast"></i>
                                   
                                </a>
                            </h1>
                        </div>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon">

                            </span>

                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">

                        </div>

                    </nav>

                </div>
            </header>
        </div>
    </div>
    <!--//header-->
    <!--/banner-->
    <div class="banner">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="carousel-caption">
                        <center>
                            <div class="row">

                                <div class="col-4"> </div>
                                <div class="col-4"><br /></br/><br /></br/></div>
                                <div class="col-4" style="background-color:rgba(255, 106, 0,0.2) ">
                                    <form method="post" action="@Url.Action("Login", "Home")" class="form-inline my-2 my-lg-0 search">
                                        <div class=" row">
                                            <h4 style="color:orange">Administrator Login</h4>&#10
                                            <br /> <br />
                                            <div class="col-11">
                                                <input class="form-control mr-sm-1 " type="search" placeholder="Username" name="Username" required="" style="color:ghostwhite">
                                            </div>

                                            <br /> <br />
                                            <div class="col-11">
                                                <input class="form-control mr-sm-1" type="search" placeholder="Password" name="Password" required="">

                                                <br />
                                            </div>
                                            <center>
                                                <div class="col-11">
                                                    <div class="bnr-button">
                                                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
                                                    </div>
                                                </div>
                                            </center>
                                        </div>
                                    </form>
                                    <br /> <br />
                                </div>


                                <br /><br /><span style="color:gainsboro;font-size:24px">@ViewBag.Message</span><br /><br /><br /><br />
                            </div>
                        </center>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <!--/model-->
</body>
</html>
